<footer class="footer d-flex flex-wrap justify-content-around">
    <div class="call">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/logo.svg" alt="logo" class="mb-4">
        <div class="mb-4">
            <p>若有數位產品設計和開發相關問題</p>
            <p>歡迎填寫表單，或直接與我聯絡！</p>
        </div>
        <a href="mailto:service@hexschool.com">service@hexschool.com</a>
    </div>
    <ul class="social-media p-0">
        <li class="mb-2 button button-b"><a href="#" class="text-white">
            <span><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/list.svg" alt="list-icon"></span>填寫表單
        </a></li>
        <li class="mb-2 button"><a href="#">
            <span><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/instagram.svg" alt="ig"></span>hexschool_demo
        </a></li>
        <li class="mb-2 button"><a href="#">
            <span><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/facebook.svg" alt="FB"></span>hexschoolTW
        </a></li>
    </ul>
</footer>