<div class="d-flex justify-content-center align-items-center">
    <div class="py-4">
        <a href="#">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/logo.svg" alt="noel_logo">
        </a>
    </div>
    <div class="w-480">
        <ul class="d-flex justify-content-between align-items-center">
            <a href="#" class="text-decor-none link-black">
                <li>首頁</li>
            </a>
            <a href="#" class="text-decor-none link-black">
                <li>作品集</li>
            </a>
            <a href="#" class="text-decor-none link-black">
                <li>服務項目</li>
            </a>
            <a href="#" class="text-decor-none link-black">
                <li>部落格</li>
            </a>
            <a href="#" class="text-decor-none link-black">
                <li>聯絡我</li>
            </a>
        </ul>
    </div>
</div>
