.text-decor-none{
  text-decoration: none;
} 
.link-black{
  color: black;
}
.selected-page{
  outline: 1px solid #919191;
  :hover{
    outline: 2px solid #919191;
  }
}
nav{
  button span{
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
}