<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <div class="d-flex justify-content-center my-4">
        <div>
        <img src="../assets/images/slogan.png" alt="slogan" class="img-fluid">
        <div class="d-flex flex-wrap justify-content-around">
          <div class="text-center">
            <h3>2B經驗</h3>
            <p>內部監控系統、庫存系統、採購系統、行銷整合系統</p>
          </div>
          <div class="text-center">
            <h3>2C經驗</h3>
            <p>跨國美妝保養電商、個人品牌網站、醫美網站、電子商務</p>
          </div>
        </div>
      </div>
    </div>
      <div>
        <ul class="row g-4 d-flex justify-content-center portfolio-allCard">
        </ul>
     </div>  
    <ul class="pagenation d-flex justify-content-center py-4">
      <a href="#" class="page_num">
        <li>1</li>
      </a>
      <a href="#" class="page_num">
        <li>2</li>
      </a>
      <a href="#" class="page_num">
        <li>3</li>
      </a>
    </ul>
    <%- include('./layout/footer'); -%>
  </div>
    <script type="module" src="../main.js"></script>
  </body>
</html>
